.bioHero{
    padding:1.3em;
}

.bioHeroBlackBox{
    width: 256px;
    height: 256px;
    background-color: #000;
}

.bioHeroWhiteBox{
    width: 216px;
    height: 216px;
    background-color: #fff;
}

.bioHeroImage{
    width: 168px;
    height: 168px;
}



.bioHeroRightDescription{
    font-family: 'IBM Plex Mono Light', monospace;
}