.bioHero{
    padding:1.3em;
}

.bioHeroBlackBox{
    width: 13vw;
    height: 13vw;
    background-color: #000;
}

.bioHeroWhiteBox{
    width: 11vw;
    height: 11vw;
    background-color: #fff;
}

.bioHeroImage{
    width: 9vw;
    height: 9vw;
}



.bioHeroRightDescription{
    font-family: 'IBM Plex Mono Light', monospace;
}