.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E5E5E5;
}


.loadingAnimation{
    animation: rotate 2s linear infinite; /* 2s é a duração da animação */
}
.loadingIcon{
  width: 25vw;
  height: 25vh;
}
.loadingBody{
  padding: 2vw;
}
@keyframes rotate {
    from {
      transform: rotate(0deg); /* Ângulo inicial de rotação */
    }
    to {
      transform: rotate(360deg); /* Ângulo final de rotação (uma volta completa) */
    }
  }

.loadingBody > button{
    
}