.container {
    width: 90vw; 
    height: 90vh; 
    margin: 5vh 5vw;
    background-color: #FF6161;
    /* font-family: 'IBM Plex Mono', monospace; */
}
.bioContainerBKP, .bioContainer {
    margin: 0.5em 0.8em;
} 